>>> body { 
  background-color: #f4f6f9;
  font-family: "Helvetica";
}

.container {
  margin-top: 16px;
}

.main-heading {
  font-weight: bold;
  font-size: 24px;
  background-color: #147794;
  color:#fff;
}

.half {
  border:1px solid #ccc;
  background-color: #f5f6f7;
  color: #147794;
  padding: 15px 0;
  font-weight: bold;
  cursor: pointer;
}

.left-btn {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;	
}

.right-btn {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.half-active {
  background-color: #33cc99;
  color: #fff;
}

.ele-mar {
  margin-top: 16px;
  margin-bottom: 16px;
}

.filt-heading {
  font-weight: bold;
  font-size: 14px;
}

.blue-ftitle {
  color: #0099ff;
  font-size:14px;
  font-weight: bold;
  margin: 15px;
  cursor: pointer;
}

.search-box{ 
  width: 150px;
  float: left;
}

.search {
  border: 2px solid #acb0bb;
  border-radius: 4px;
  color: #abafbb;
  font-size: 18px;  
  padding: 6px;
  cursor: pointer;
  /* position: absolute; 
  margin-left: 8px;
  right: 0px;
  text-align: center;
  top: 0px;*/
}

.icon-div {
  position: relative;
}

.table-head {
  background-color:#dadde6;
  font-size: 14px;
}

#booking table th {
  border-bottom: 3px solid #147794;
  text-align: center;
  cursor: pointer;
}

#booking table td {
  border-bottom: 1px solid #fff;
  text-align: center;
}

.table-striped > tbody > tr:nth-of-type(odd){
  background-color: #f4f6f9;
  font-size: 14px;
}
.table-striped > tbody > tr:nth-of-type(even) {
  background-color: #eceff5;
  font-size: 14px;
}

.icone-size {
  font-size: 11px;
}

.grey {
	background: #99b3bd;
}

.btn-color {
	background-color: #7cc576;
}

.btn-txt-color {
	color: #fff;
}

.sub-heading {
  font-weight: bold;
  font-size: 18px;
  background-color: #147794;
  color:#fff;
}

.prev-icon {	
	color: #fff;
	cursor: pointer;
}

.search-div {
	border: 1px solid #abafbb;
	border-radius: 4px;
	position: relative;
	background-color: #fff;
}

.search2 {
	color: #abafbb;
  cursor: pointer;
  font-size: 18px;
  line-height: 35px;
  position: absolute;
  right: 10px;
  top: 0;
}


#mtable table th {
  border-bottom: 3px solid #147794;
}

#mtable table td {
  cursor: pointer;
}

.sub-active {
  background-color: #ccdde6;
}

>>> .ng2-pagination li {
  border: 1px solid #3696bc;
  border-radius: 4px !important;
  margin-right: 1.063rem !important;
  color: #247c95 !important;
  cursor: pointer !important;
}

>>> .ng2-pagination .current {
  color: #fefefe !important;
  cursor: default !important;
  background-color:#147794 !important;
}

>>> .ng2-pagination a {
	color: #147794 !important;
}