.container-fluid {
    background: url(assets/images/bg.png);
    background-size: cover;
    padding-top: 60px;
    min-height: 100%;
}

.logo {
    margin-top: 20px;
}

.login-form {
    background: rgba(0, 0, 0, 0.35);
    padding: 50px;
    margin-top: 15px;
}

.bottom-links {
    margin-top: 25px;
}

.bottom-links a {
    color: #fff;
}
