<div class="container">
    <div class="row">
      	<div class="col-lg-12 col-md-12">
        	<div class="panel panel-primary">
	          	<div class="panel-heading main-heading"><i class="fa fa-angle-left"></i> Assigmnment Detail</div>
              <div class="panel-heading sub-heading"> Assignment: Assign-00001
                <span class="pull-right edit-icon"><i class="action-icon fa fa-pencil"></i> Edit</span>
              </div>
	          	<div class="panel-body">
					<app-assignment-detail-panel></app-assignment-detail-panel>
				</div>
        	</div>
      	</div>
    </div>
</div>

<div>          