<div class="container main">
  <div class="row">
    <div class="col-md-12 page-title">
      Find an Organization in Our Network
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="form-inline">
        <div class="form-group">
          <label for="term" class="sr-only">Name</label>
          <input type="text" [(ngModel)]="term" id="name"
                 class="form-control" style="width: 500px"
                 placeholder="Search for an organization by name">
        </div>
        <button (click)="search()" class="btn btn-primary">Search</button>
        <button (click)="cancel()" class="btn btn-default">Cancel</button>
      </div>
    </div>
  </div>

  <div *ngIf="searched">
    <div class="row">
      <div class="col-md-8">
        <div *ngIf="organizations.length > 0">
          <h4> Search Results </h4>
          <table class="table">
            <tbody>
              <tr *ngFor="let organization of organizations">
                <td class="icon">
                  <span class="fa-stack fa-2x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-institution fa-stack-1x"></i>
                  </span>
                </td>
                <td style="width: 98%">
                  <span class="org-name">{{ organization.name }}</span>
                </td>
                <td style="width: 2%" class="text-center">
                  <a [routerLink]="['/associated-organizations/new', organization.id]"
                     *ngIf="!organization.isAssociated">Add</a>
                  <span class="label label-success"
                     *ngIf="organization.isAssociated">Added</span>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="well bg-success">
            <p>
              Can't find what you are looking for?
              <a href="javascript:void(0)" (click)="add()">Add a New Organization</a>
            </p>
          </div>
        </div>
        <div class="well bg-success" *ngIf="!organizations.length">
          <p>
            Sorry, we cannot find the organization in our network. Perhaps check the spelling and try again?
            Or, <a href="javascript:void(0)" (click)="add()">Add a New Organization</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
