<div class="container">

	<section class="row">
        <div class="col-lg-12 col-md-12">

            <div class="panel panel-defalut">
                <div class="panel-heading main-heading"> <i class="fa fa-angle-right"></i> Assignment Detail</div>
                <div class="panel-body" >
                	
                	<div class="panel panel-defalut">
		                <div class="panel-heading sub-heading"> General</div>
		                <div class="panel-body" >
		                	<div class="col-md-6">
			                	<h4 class="blue-title">Report Name</h4>
								<div class="form-group">
								    <input type="text" class="form-control form-input" disabled>
							    </div>
							</div>

							<div class="col-md-6">
			                	<h4 class="blue-title">Standard</h4>
								<div class="form-group">
								    <input type="text" class="form-control form-input" disabled>
							    </div>
							</div>

							<div class="col-md-6">
			                	<h4 class="blue-title">Unit type</h4>
								<div class="form-group">
								    <input type="text" class="form-control form-input" disabled>
							    </div>
							</div>

							<div class="col-md-6">
			                	<h4 class="blue-title">AQL</h4>
								<div class="form-group">
								    <input type="text" class="form-control form-input" disabled>
							    </div>
							</div>
																		

		                </div>
		            </div>

		            <div class="panel panel-defalut">
		                <div class="panel-heading sub-heading"> Booking Information</div>
		                <div class="panel-body" >
		                	<!-- <div>booking name</div>
    							<input type="text" name="bookingName">
    							<div>booking status </div>
    							<input type="text" name="bookingStatus"> -->                               							

		                </div>
		            </div>

		            <div class="panel panel-defalut">
		                <div class="panel-heading sub-heading"> Verification</div>
		                <div class="panel-body" >
			                <div class="assign-icon">
			                	<span class="btn btn-primary">Add a question +</span>
			                	<div class="assign-menu">
                                    <ul>
                                        <li><div class="fa fa-question ques-icon"></div> YES/NO Question</li>
                                        <li><div class="fa fa-check-square ques-icon"></div> Multi Select Question</li>
                                        <li><div class="fa fa-dot-circle-o ques-icon"></div> Single select Question</li>
                                        <li><div class="fa fa-caret-square-o-down ques-icon"></div> Dropdown</li>              
                                    </ul>
                                </div>
			                </div>	
			                <br>		                
		
			                <div class="panel panel-info">
				                <div class="panel-heading"> Question Type: Yes/No</div>
				                <div class="panel-body" >
				                	<div class="col-md-2"> Question Content: </div>	

				                	<div class="col-md-10">
					                	<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ultricies enim quis viverra facilisis?</span>
					                	<span> Etiam ultricies mollis urna, nec convallis leo elementum non.</span>
				                	</div>					

				                </div>
				            </div>	
				            <div class="panel panel-info">

				                <div class="panel-heading"> Question Type: Single Select</div>
				                <div class="panel-body" >
				                	<div class="col-md-2"> Question Content: </div>	

				                	<div class="col-md-10">
					                	<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ultricies enim quis viverra facilisis?</span><br>
					                	<span> Etiam ultricies mollis urna, nec convallis leo elementum non.</span><br>
					                	<span> Etiam ultricies mollis urna, nec convallis leo elementum non.</span><br>
					                	<span> Etiam ultricies mollis urna, nec convallis leo elementum non.</span><br>
					                	<button class="pull-right">Add a choice + </button>
				                	</div>					

				                </div>
				            </div>        

			                <div class="panel panel-info">

				                <div class="panel-heading"> Question Type: Multi Select Question</div>
				                <div class="panel-body" >
				                	<div class="col-md-2"> Question Content: </div>	

				                	<div class="col-md-10">
					                	<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ultricies enim quis viverra facilisis?</span><br>
					                	<span> Etiam ultricies mollis urna, nec convallis leo elementum non.</span><br>
					                	<span> Etiam ultricies mollis urna, nec convallis leo elementum non.</span><br>
					                	<span> Etiam ultricies mollis urna, nec convallis leo elementum non.</span><br>
					                	<button class="pull-right">Add a choice + </button>
				                	</div>					

				                </div>

				                <div class="panel-footer">Action</div>
				                <div class="panel-body" >
					                <select>
					                	<option>When select choice</option>
					                </select>
				                </div>
				            </div>
		                	

							<!-- <button (click)="addNewSection(field, [fieldName])">Add New Question </button> -->

				        </div>
		            </div>


		        </div>
		    </div>

		</div>
	</section>
</div>


