<div class="panel panel-info">
    <div class="panel-heading"> Question Type: Yes/No</div>
    <div class="panel-body" >
    	<div class="col-md-2"> Question Content: </div>	

    	<div class="col-md-10">
        	<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ultricies enim quis viverra facilisis?</span>
        	<span> Etiam ultricies mollis urna, nec convallis leo elementum non.</span>
        	<span> Etiam ultricies mollis urna, nec convallis leo elementum non.</span>
        	<span> Etiam ultricies mollis urna, nec convallis leo elementum non.</span>
    	</div>					

    </div>
</div>