.popover {
  background-color: #f5f6f7;
  color: #fff;

  &.top > .arrow:after,
  &.bottom > .arrow:after,
  &.left > .arrow:after,
  &.right > .arrow:after {
    border-top-color: #f5f6f7;
    border-bottom-color: #f5f6f7;
  }

  .popover-title {
    background-color: #f5f6f7;
    color: #000;
  }

  .popover-content {
    padding: 0 14px;
  }
}
