$primary-color: #2b7090;

$c-grey-100: #f6f6f6;
$c-grey-150: #EEEEEE;
$c-grey-200: #DDDDDD;
$c-grey-300: #CCCCCC;
$c-grey-400: #BBBBBB;
$c-grey-500: #AAAAAA;
$c-grey-600: #999999;
$c-grey-700: #777777;
$c-grey-800: #666666;
$c-grey-900: #555555;
$c-grey-950: #333333;

$c-accent: #0072bc;
$c-accent-extra-light: #e5f1f8;

$c-danger: #a94442;

$gray-border: $c-grey-200 1px solid;

$main-text-color: $c-grey-900;
$dark-gray: $c-grey-950;

$c-blue-grey-100: #eceff6;

$small-padding: 8px;
$main-padding: 16px;
$big-padding: 32px;
$primary-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);

$small-font-size: 12px;
$regular-font-size: 14px;
$medium-font-size: 18px;
$big-font-size: 24px;
$title-font-size: $big-padding;
$extra-font-size: 48px;

$side-bar-width: 450px;
