<div class="container">
	<section class="row">
        <div class="col-lg-12 col-md-12">
            <div class="panel panel-defalut">
                <div class="panel-heading main-heading"> <i class="fa fa-angle-right"></i> Assignment Detail</div>
                <div class="panel-body" >
                	
                	<div class="panel panel-defalut">
		                <div class="panel-heading sub-heading"> Verification</div>
		                <div class="panel-body" >
			                <div class="assign-icon">
			                	<span class="btn btn-primary">Add a question +</span>
			                	<div class="assign-menu">
                                    <ul>
                                        <li><div class="fa fa-question ques-icon"></div> YES/NO Question</li>
                                        <li><div class="fa fa-check-square ques-icon"></div> Multi Select Question</li>
                                        <li><div class="fa fa-dot-circle-o ques-icon"></div> Single select Question</li>
                                        <li><div class="fa fa-caret-square-o-down ques-icon"></div> Dropdown</li>              
                                    </ul>
                                </div>
			                </div>
		                	<span>Loren ipsum dolor eit Loren </span>

		                </div>
		            </div>

		            <div class="panel panel-defalut">
		                <div class="panel-heading sub-heading"> Approved Sample</div>
		                <div class="panel-body" >
		                	<div class="col-md-12">Product Design <hr></div>
		                	<div class="col-md-12">Asking Frequence Ruls</div>
		                	<span><select>.....</select></span>

		                	<div class="col-md-3">
			                	<div class="panel panel-defalut">
					                <div class="panel-heading img-box">
					                	<img src="assets/images/sample.png" alt="placeholder" >
					                </div>
					                <div class="panel-body" >
					                	<div class="col-md-12 text-center">
						                	<div>SEAL</div>
						                	<div><input type="checkbox" name=""> Include to Assignment</div>
						                </div>
					                </div>
					            </div>
					        </div>

					        <div class="col-md-3">
			                	<div class="panel panel-defalut">
					                <div class="panel-heading img-box">
					                	<img src="assets/images/sample.png" alt="placeholder" >
					                </div>
					                <div class="panel-body" >
					                	<div class="col-md-12 text-center">
						                	<div>FRONT VIEW</div>
						                	<div><input type="checkbox" name=""> Include to Assignment</div>
						                </div>
					                </div>
					            </div>
					        </div>

					        <div class="col-md-3">
			                	<div class="panel panel-defalut">
					                <div class="panel-heading img-box">
					                	<img src="assets/images/sample.png" alt="placeholder" >
					                </div>
					                <div class="panel-body" >
					                	<div class="col-md-12 text-center">
						                	<div>BACK VIEW</div>
						                	<div><input type="checkbox" name=""> Include to Assignment</div>
						                </div>
					                </div>
					            </div>
					        </div>

					        <div class="col-md-3">
			                	<div class="panel panel-defalut">
					                <div class="panel-heading img-box">
					                	<img src="assets/images/sample.png" alt="placeholder" >
					                </div>
					                <div class="panel-body" >
					                	<div class="col-md-12 text-center">
						                	<div>INTERNAL FRONT VIEW</div>
						                	<div><input type="checkbox" name=""> Include to Assignment</div>
						                </div>
					                </div>
					            </div>
					        </div>


					        <div class="col-md-12">Materials <hr></div>
		                	<div class="col-md-3">
			                	<div class="panel panel-defalut">
					                <div class="panel-heading img-box">
					                	<img src="assets/images/sample.png" alt="placeholder" >
					                </div>
					                <div class="panel-body" >
					                	<div class="col-md-12 text-center">
						                	<div>SAMPLE PICTURE</div>
						                </div>
					                </div>
					            </div>
					        </div>

					        <div class="col-md-12">Trims <hr></div>
		                	<div class="col-md-3">
			                	<div class="panel panel-defalut">
					                <div class="panel-heading img-box">
					                	<img src="assets/images/sample.png" alt="placeholder" >
					                </div>
					                <div class="panel-body" >
					                	<div class="col-md-12 text-center">
						                	<div>SAMPLE PICTURE</div>
						                </div>
					                </div>
					            </div>
					        </div>

					        <div class="col-md-12">Marking <hr></div>
		                	<div class="col-md-3">
			                	<div class="panel panel-defalut">
					                <div class="panel-heading img-box">
					                	<img src="assets/images/sample.png" alt="placeholder" >
					                </div>
					                <div class="panel-body" >
					                	<div class="col-md-12 text-center">
						                	<div>SAMPLE PICTURE</div>
						                </div>
					                </div>
					            </div>
					        </div>

					        <div class="col-md-12">Accessorry <hr></div>
		                	<div class="col-md-3">
			                	<div class="panel panel-defalut">
					                <div class="panel-heading img-box">
					                	<img src="assets/images/sample.png" alt="placeholder" >
					                </div>
					                <div class="panel-body" >
					                	<div class="col-md-12 text-center">
						                	<div>SAMPLE PICTURE</div>
						                </div>
					                </div>
					            </div>
					        </div>

		                </div>
		            </div>

		            <div class="panel panel-defalut">
		                <div class="panel-heading sub-heading"> Packaging</div>
		                <div class="panel-body" >
		                	<div class="col-md-12">Packaging Inspection Plan <hr></div>

		                	<div class="col-md-6">Maximum Sample Size
		                	<span><select>.....</select></span></div>
		                	<div class="col-md-6">Maximum of Pulled Item Per Carton
		                	<span><select>.....</select></span></div>

		                	<div class="col-md-12">Inspection<hr></div>

		                	<div class="col-md-3">
			                	<div class="panel panel-defalut">
					                <div class="panel-heading img-box">
					                	<img src="assets/images/sample.png" alt="placeholder" >
					                </div>
					                <div class="panel-body" >
					                	<div class="col-md-12 text-center">
						                	<div>CHECK1</div>
						                </div>
					                </div>
					            </div>
					        </div>

					        <div class="col-md-3">
			                	<div class="panel panel-defalut">
					                <div class="panel-heading img-box">
					                	<img src="assets/images/sample.png" alt="placeholder" >
					                </div>
					                <div class="panel-body" >
					                	<div class="col-md-12 text-center">
						                	<div>CHECK2</div>
						                </div>
					                </div>
					            </div>
					        </div>

					    </div>
					</div>

					<div class="panel panel-defalut">
		                <div class="panel-heading sub-heading"> Workmanship</div>
		                <div class="panel-body" >
		                	<div class="col-md-12">Inspection Plan <hr></div>
		                	
		                	<div class="col-md-6">Maximum Sample Size
		                	<span><select>.....</select></span></div>

		                	<div class="col-md-6">Maximum of Pulled Item Per Carton
		                	<span><select>.....</select></span></div>

		                	<div class="col-md-12">Checklist<hr></div>

		                	<div class="col-md-3">
			                	<div class="panel panel-defalut">
					                <div class="panel-heading img-box">
					                	<img src="assets/images/sample.png" alt="placeholder" >
					                </div>
					                <div class="panel-body" >
					                	<div class="col-md-12 text-center">
						                	<div>CHECKLIST 1</div>
						                </div>
					                </div>
					            </div>
					        </div>

					        <div class="col-md-3">
			                	<div class="panel panel-defalut">
					                <div class="panel-heading img-box">
					                	<img src="assets/images/sample.png" alt="placeholder" >
					                </div>
					                <div class="panel-body" >
					                	<div class="col-md-12 text-center">
						                	<div>CHECKLIST 2</div>
						                </div>
					                </div>
					            </div>
					        </div>

					    </div>
					</div>

					<div class="panel panel-defalut">
		                <div class="panel-heading sub-heading"> Measurements</div>
		                <div class="panel-body" >
		                	<div class="col-md-12">Caption <hr></div>
		                	<div class="col-md-3">
			                	<div class="panel panel-defalut">
					                <div class="panel-heading img-box">
					                	<img src="assets/images/sample.png" alt="placeholder" >
					                </div>
					                <div class="panel-body" >
					                	<div class="col-md-12 text-center">
						                	<div>CHECKLIST 1</div>
						                </div>
					                </div>
					            </div>
					        </div>

					        <div class="col-md-12">Measurement Chart <hr></div>

					        <div class="col-md-12">
			                	<div class="panel panel-defalut">
					                <div class="panel-heading"> Style 1</div>
					                <div class="panel-body" >
					                	<table>
					                		
					                	</table>
					                </div>
					            </div>
					        </div>

					        <div class="col-md-12">Measurement Plan <hr></div>
		                	
		                	<div class="col-md-6">Maximum Sample Size
		                	<span><select>.....</select></span></div>

		                	<div class="col-md-6">Maximum Sample Size
		                	<span><select>.....</select></span></div>

					    </div>
					</div>


					<div class="panel panel-defalut">
		                <div class="panel-heading sub-heading"> Factory Reference Photo</div>
		                <div class="panel-body" >

		                	<div class="col-md-3">
			                	<div class="panel panel-defalut">
					                <div class="panel-heading img-box">
					                	<img src="assets/images/sample.png" alt="placeholder" >
					                </div>
					                <div class="panel-body" >
					                	<div class="col-md-12 text-center">
						                	<div>OVERVIEW</div>
						                </div>
					                </div>
					            </div>
					        </div>

					        <div class="col-md-3">
			                	<div class="panel panel-defalut">
					                <div class="panel-heading img-box">
					                	<img src="assets/images/sample.png" alt="placeholder" >
					                </div>
					                <div class="panel-body" >
					                	<div class="col-md-12 text-center">
						                	<div>FACTORY YARD</div>
						                </div>
					                </div>
					            </div>
					        </div>

					        <div class="col-md-3">
			                	<div class="panel panel-defalut">
					                <div class="panel-heading img-box">
					                	<img src="assets/images/sample.png" alt="placeholder" >
					                </div>
					                <div class="panel-body" >
					                	<div class="col-md-12 text-center">
						                	<div>WAREHOUSE</div>
						                </div>
					                </div>
					            </div>
					        </div>

					        <div class="col-md-3">
			                	<div class="panel panel-defalut">
					                <div class="panel-heading img-box">
					                	<img src="assets/images/sample.png" alt="placeholder" >
					                </div>
					                <div class="panel-body" >
					                	<div class="col-md-12 text-center">
						                	<div>PRODUCTION LINE</div>
						                </div>
					                </div>
					            </div>
					        </div>


					        

		                </div>
		            </div>



                </div>
            </div>            
        </div>
    </section>
</div>