>>> body { 
  background-color: #f4f6f9;
  font-family: "Helvetica";
}

.container {
  margin-top: 16px;
}

.main-heading {
  font-weight: bold;
  font-size: 24px;
  background-color: #147794;
  color:#fff;
}

.sub-heading {
  font-weight: bold;
  font-size: 18px;
  background-color: #147794;
  color:#fff;
}

.assign-menu {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  position: absolute;  
  width: 190px;
  top: 135px;
  left:190px;
}

.assign-menu ul {
  list-style: none;
  padding: 10px;
  margin: 0;
}

.assign-menu ul li {
  cursor: pointer;
  padding: 7px 0;
}

.ques-icon {
  background-color: #abafbb;
  border-radius: 4px;
  font-size: 18px;  
  padding: 6px;
  cursor: pointer;
  /* position: absolute; 
  margin-left: 8px;
  right: 0px;
  text-align: center;
  top: 0px;*/
}

.img-box {
   color: #fff;
   padding: 0;
}
.img-box img {
  width: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}